@font-face {
  font-family: sansReg;
  src: url('../assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: sansBold;
  src: url('../assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: sansSemiBold;
  src: url('../assets/fonts/static/WorkSans-SemiBold.ttf') format('truetype');
}

:root {
  --White: hsl(0, 0%, 100%);
  --LightPink: hsl(275, 100%, 97%);
  --GrayishPurple: hsl(292, 16%, 49%);
  --DarkPurple: hsl(292, 42%, 14%);
  --LightPurple: hsl(290, 66%, 48%);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sansReg, 'Courier New', Courier, monospace;
  font-size: var(--fsize);
  width: 100%;
  height: 100vh;
  background: url('../assets/images/background-pattern-desktop.svg') no-repeat,
    pink 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 3rem 2rem;
  border-radius: 9px;
  background-color: var(--White);
  width: 40%;
}
.main-heading {
  display: flex;
  align-items: center;
  font-family: sansBold;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.main-heading__logo {
  width: 3rem;
  margin-right: 1rem;
}
.question {
  height: 2rem;
  overflow: hidden;
  transition: 0.45s ease-in;
}
.question.active {
  height: 7rem;
}

.question:not(:last-child) {
  margin-bottom: 3rem;
}
.question__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sansSemiBold;
  margin-bottom: 1rem;
  transition: 0.3s ease-out;
}
.question__text:hover {
  color: var(--LightPurple);
  cursor: pointer;
}
.carret-icon {
  background: url('../assets/images/icon-minus.svg') center/cover;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.carret-icon.active {
  background: url('../assets/images/icon-plus.svg') center/cover;
  transition: 0.3s ease-out;
}

.answer {
  font-size: 1.2rem;
  line-height: 1.5;
}
