@font-face {
  font-family: sansReg;
  src: url('../assets/fonts/static/WorkSans-Regular.ttf') format('true type');
}
@font-face {
  font-family: sansBold;
  src: url('../assets/fonts/static/WorkSans-Bold.ttf') format('true type');
}
@font-face {
  font-family: sansSemiBold;
  src: url('../assets/fonts/static/WorkSans-SemiBold.ttf') format('true type');
}

:root {
  --White: hsl(0, 0%, 100%);
  --LightPink: hsl(275, 100%, 97%);
  --GrayishPurple: hsl(292, 16%, 49%);
  --DarkPurple: hsl(292, 42%, 14%);
  --fsize: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sansReg, 'Courier New', Courier, monospace;
}
